{% extends 'base.html.twig' %}

{% block title %}INSCRIPTION{% endblock %}

{% block body %}
    <h1>Inscription </h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    <fieldset>
    {# ->add('nom_utilisateur')
            ->add('prenom_utilisateur')
            ->add('pseudo_utilisateur')
            ->add('email')
            ->add('photo_profil_utilisateur')
            ->add('agreeTerms' #}


        {# {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }} #}

    {{ form_end(registrationForm) }}
        <button type="submit" class="btn btn-warning">Inscription</button>
{% endblock %}
